.header {
}

.header__container {
  display: flex;
  gap: 1.25rem;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin: 0 auto;
}

.logo__container {
  display: flex;
  gap: 0.3125rem;
  align-self: center;
}
.logo-text {
  font-family: 'IM+Fell+French+Canon', serif;
  font-size: 1.875rem;
}
.logo-image {
  align-self: center;
}

.menu__container {
  display: flex;
  gap: 0.3125rem;
  width: 700px;
  align-self: center;
  display: contents;
}

.menu-nav {
  display: flex;
  gap: 0.3125rem;
}

.menu-item {
  font-family: Imprima, serif;
  font-size: 0.9375rem;
  text-transform: uppercase;
  border-radius: 0.3125rem;
  cursor: pointer;
  transition: all 0.3s;
  padding-left: 0.3125rem;
  padding-right: 0.3125rem;
  padding-top: 0.125rem;
  padding-bottom: 0.125rem;
}

.menu-item:hover {
  background-color: #808080;
  color: black;
}

.user-sign {
  font-family: Imprima, serif;
  font-size: 0.9375rem;
  text-transform: uppercase;
  border: 2px solid #ccff00;
  width: 6.5625rem;
  height: 2.375rem;
  padding-top: 0.625rem;
  border-radius: 1.25rem;
  text-align: center;
}
